# Обработка данных для модели

## Импорт библиотек

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

from IPython.display import display
from pandas.plotting import autocorrelation_plot

import sys
sys.path.append('custom_modules')

import Data_processing as dp
import Data_visualization as dv

## Константы

In [2]:
# путь к файлу Excel
#path_to_data = 'Data\Данные СТМ Восточный Купол (от 29.01.17)\Куст 201\Скважина 2011.xlsx'
#path_to_data = 'Data\Данные СТМ Восточный Купол (от 29.01.17)\Куст 202\Скважина 2022.xlsx'
path_to_data = 'Data\Данные СТМ Восточный Купол (от 29.01.17)\Куст 202\Скважина 2022.xlsx'

In [3]:
df = dp.get_df(path_to_data)

In [4]:
display(df)

,Time Moment,PT2023-202 (Давление до УР),PT2023-204 (Давление после УР),TT2023-101 (Температура в ТП до УР),FT2023-301 (Расход в ТП до УР)
1,2014-12-11 00:00:00,NaN,NaN,NaN,NaN
2,2014-12-11 02:00:00,NaN,NaN,NaN,NaN
3,2014-12-11 04:00:00,NaN,NaN,NaN,NaN
4,2014-12-11 06:00:00,NaN,NaN,NaN,NaN
5,2014-12-11 08:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...
9357,2017-01-28 16:00:00,88.680931,83.737350,31.385900,7917.241211
9358,2017-01-28 18:00:00,88.879372,83.918289,31.145571,7941.916016
9359,2017-01-28 20:00:00,89.322952,84.239304,31.203939,7956.412109
9360,2017-01-28 22:00:00,89.719849,84.484444,31.203939,8014.643066
9361,2017-01-29 00:00:00,90.642021,84.431900,31.523230,8051.499023

In [5]:
def set_df(df: pd.DataFrame, path_to_data: str):
    columns = list(df.columns[:])
    line = {}
    
    for col in columns:
        line[col] = [None]
        
    line = pd.DataFrame(data = line)
    df = pd.concat([line, df], axis = 0)
    df.to_excel(path_to_data, index=False)

In [6]:
set_df(df, 'Data\Обработанные данные\Куст 202\Скважина 2022.xlsx')

In [7]:
df = dp.get_df('Data\Обработанные данные\Куст 202\Скважина 2022.xlsx')
display(df)

,Time Moment,PT2023-202 (Давление до УР),PT2023-204 (Давление после УР),TT2023-101 (Температура в ТП до УР),FT2023-301 (Расход в ТП до УР)
1,2014-12-11 00:00:00,NaN,NaN,NaN,NaN
2,2014-12-11 02:00:00,NaN,NaN,NaN,NaN
3,2014-12-11 04:00:00,NaN,NaN,NaN,NaN
4,2014-12-11 06:00:00,NaN,NaN,NaN,NaN
5,2014-12-11 08:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...
9357,2017-01-28 16:00:00,88.680931,83.737350,31.385900,7917.241211
9358,2017-01-28 18:00:00,88.879372,83.918289,31.145571,7941.916016
9359,2017-01-28 20:00:00,89.322952,84.239304,31.203939,7956.412109
9360,2017-01-28 22:00:00,89.719849,84.484444,31.203939,8014.643066
9361,2017-01-29 00:00:00,90.642021,84.431900,31.523230,8051.499023